<link rel="stylesheet" type="text/css" href="/css/_footer.css" />
<footer id="main_footer">
  <p>Copyright 2023 by Ayush sahu. All Rights Reserved.</p>
  <p>twitter-clone is Powered by iAyushSahu</p>
</footer>
