<div style="height: 84vh">
  <h1 style="margin: 0">This is home page</h1>
  <section id="feed_post">
    <form action="/post" method="post" id="new_post_form">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type here..."
      ></textarea>
      <input type="submit" value="Post" />
    </form>
  </section>
</div>
